@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url(./normalize.css);
/* 폰텔로 */
@font-face {
  font-family: "fontello";
  src: url("./font/fontello.eot?98005817");
  src: url("./font/fontello.eot?98005817#iefix") format("embedded-opentype"),
    url("./font/fontello.woff2?98005817") format("woff2"),
    url("./font/fontello.woff?98005817") format("woff"),
    url("./font/fontello.ttf?98005817") format("truetype"),
    url("./font/fontello.svg?98005817#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-export:before {
  content: "\e800";
}
.icon-search:before {
  content: "\e80b";
}
.icon-star:before {
  content: "\e814";
}
.icon-plus:before {
  content: "\e815";
}
.icon-minus:before {
  content: "\e816";
}
.icon-calendar:before {
  content: "\e817";
}
.icon-link-ext:before {
  content: "\f08e";
}
.icon-quote-left:before {
  content: "\f10d";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-circle:before {
  content: "\f111";
}
.icon-dot-circled:before {
  content: "\f192";
}
.icon-git-squared:before {
  content: "\f1d2";
}
/* 스타일 초기화 */
.resetMargin {
  margin: 0;
}
.resetList {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.resetBox {
  margin: 0;
  padding: 0;
  border: 0 none;
}
.buttonNone {
  padding: 0;
  border: 0;
  background-color: transparent;
}
.button {
  cursor: pointer;
}
/* 숨김 컨텐츠 */
.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  background-color: blue;
  clip: rect(0, 0, 0, 0); /* 포지션 absolute만 가능 */
  clip-path: polygon(0 0, 0 0, 0 0);
}
/* 링크 스타일 */
a {
  text-decoration: none;
  color: black;
}
/* 기본 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Spoqa Han Sans", sans-serif;
  font-size: 1.6rem;
}
/* 기본 Box Sizing */
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}
/* 하이퍼 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
/* 모바일 & 데스크탑 공통 */
.appMain {
  background-color: lime;
}
.appFooter {
  background-color: purple;
}
.appHeader__list {
  list-style: none;
}
/* 공통 컨테이너 */
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.appHeader {
  width: 100%;
  padding-bottom: 10px;
}
.appHeader__logo a {
  display: block;
  outline-offset: 1px;
}

/* .appHeader__list {
  text-align: right;
  white-space: nowrap;
  padding-right: 0;
}
.appHeader__list li {
  display: inline-block;
  line-height: 30px;
}
.appHeader__list a {
  display: inline-block;
  padding: 5px 15px;
  margin: 0;
} */
.appMain {
  display: flex;
  flex-flow: row wrap;
}
@media screen and (max-width: 999px) {
  /* 모바일 컨테이너 */
  .container {
    background-color: yellow;
  }
  .appHeader,
  .appMain,
  .appFooter {
    width: 100%;
  }
  /* 모바일 헤더 */
  /* .appHeader {
    position: relative;
  } */
  .appHeader {
    display: flex;
    flex-flow: row wrap;
    background: rgb(56, 48, 46);
    padding-bottom: 20px;
  }
  .appHeader__logo,
  .appHeader__list,
  .appHeader__searchForm {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  /* 모바일 리스트 */
  /* .appHeader__logo {
    margin-top: 30px;
  }
  .appHeader__logo::after {
    background-color: darkslategrey;
    float: right;
    content: "하이";
  } */
  .appHeader__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .appHeader__logo img {
    padding: 10px 0;
  }
  /* 모바일 멤버 */
  /* .appHeader__list {
    text-align: right;
    white-space: nowrap;
    position: absolute;
    background-color: darkviolet;
    top: 0;
    right: 0;
  }
  .appHeader__list li {
    color: #f7f7f7;
    display: inline-block;zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
    line-height: 30px;
  }
  .appHeader__list a {
    display: inline-block;
    padding: 5px 15px;
    margin: 0;
  } */
  .appHeader__list {
    background-color: rgb(152, 133, 116);
    order: -1;
    text-align: right;
    color: #f7f7f7;
    white-space: nowrap;
    padding-right: 0;
  }
  .appHeader__list li {
    display: inline-block;
    line-height: 30px;
  }
  .appHeader__list a {
    display: inline-block;
    padding: 5px 15px;
    margin: 0;
  }
  /* 모바일 검색폼 */
  .appHeader__searchForm {
    text-align: center;
    padding: 0;
    white-space: nowrap;
  }
  .appHeader__searchForm input,
  .appHeader__searchForm button {
    vertical-align: middle;
  }
  .appHeader__searchForm input {
    width: calc(100% - 60px); /* 유연한 단위(붙여쓰면 안됨) */
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 2px 5px;
    margin-right: 5px;
  }
  .appHeader__searchForm button {
    overflow: hidden;
    text-indent: 150px;
    background: url(./images/btn_search.png) no-repeat;
    background-size: contain; /* 100% 100% */
    border: 0 none;
    white-space: nowrap;
    width: 30px;
    height: 30px;
  }
  /* 모바일 네비게이션 */
  /* .appNavigation {
    display: flex;
    flex-flow: row wrap;
    position: relative;
  }
  .appNavigation button {
    width: 40px;
    height: 40px;
    background-color: violet;
    line-height: 0.3;
    padding: auto;
    border: 0;
  }
  .appNavigation button:hover {
  }

  .appNavigation__burgerBar {
    display: block;
    background-color: white;
    width: 25px;
    height: 4px;
    border-radius: 3px;
    margin: 5px auto;
    transform: 1s;
  }

  .positionTop:hover {
    transform: rotate(45deg);
    transform-origin: 0 0;
  }
  .positionMiddle:hover {
    background-color: violet;
  }
  .positionBottom:hover {
    transform: rotate(-45deg);
    transform-origin: 0 0;
  } */
  .appNavigation {
  }
  .appNavigation__button {
    /* 버튼은 inline */
    position: absolute;
    top: 55px;
    right: 20px;
    width: 40px;
    height: 40px;
    padding: auto;
    overflow: hidden;
    border: 0;
    background-color: transparent;
  }

  .appNavigation__burgerBar {
    background-color: white;
    position: absolute;
    left: 0;
    width: 100%;
    height: 20%;
    border-radius: 30px;
    transition: all 1s;
  }
  .positionTop {
    top: 0;
  }
  .positionMiddle {
    top: 50%;
    transform: translateY(-50%);
    /* 자기상자 기준에서 절반범위를 음수로 50프로 */
  }
  .positionBottom {
    top: 100%;
    transform: translateY(-100%);
  }
  /* .isAct .positionMiddle {
    transform: translateX(-105%);
  } */
  .appNavigation__button:hover .positionTop {
    transform: translateY(-50%) rotate(45deg);
    top: 50%;
    /* transform: rotate(45deg);
    transform-origin: 50% -250%; */
  }
  .appNavigation__button:hover .positionMiddle {
    transform: translate(-105%, -50%);
  }
  .appNavigation__button:hover .positionBottom {
    transform: translateY(-50%) rotate(-45deg);
    top: 50%;
  }
  /* .appNavigation__menu {
    background-color: rgb(56, 48, 46);
    color: #f7f7f7;
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 70vh;
    opacity: 0.9;
    padding-top: 50px;
  }
  .appNavigation__menu--item {
    position: relative;
  }
  .appNavigation__menu--link {
    display: inline-block;
    padding: 10px 10px;
    background-color: thistle;
    margin-bottom: 5px;
  }
  .appNavigation__menu--item--list {
    background-color: tomato;
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    display: none;
    margin-left: 50px;
    font-size: 1.6rem;
  }
  .appNavigation__menu--item--list--active {
    display: block;
    position: relative;
  }
  .appNavigation__menu--item--list li a {
    display: inline-block;
    margin: 10px 0;
  } */
  .appNavigation__menu {
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(10px);
    color: #fff;
    width: 70%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1em;
    transform: translateX(-110%);
  }
  .isAct .appNavigation__menu {
    transform: none;
  }
  .appNavigation__menu--item {
    margin-bottom: 0.5em;
  }
  .appNavigation__menu--link {
    font-size: 1.8rem;
    font-weight: 700;
    padding: 0.5em;
    display: inline-block;
  }
  .appNavigation__menu--item--list {
    display: none;
  }
  .appNavigation__menu--item--list--active {
    display: block;
  }
  .appNavigation__menu--item--list li {
    margin-bottom: 0.5em;
  }
  .appNavigation__menu--item--list li a {
    display: inline-block;
    padding: 0.5em 1em;
  }
  /* 모바일 메인 */
  .appMain {
    height: 70vh;
  }
  .book,
  .news,
  .board,
  .twitter,
  .favorite {
    width: 100%;
    height: 20%;
  }
  .appFooter {
    height: 15vh;
  }
}
@media screen and (min-width: 1000px) {
  /* 데스크탑 컨테이너 */
  .appHeader {
    display: grid;
    grid-template-columns: 1fr 220px 260px;
    grid-template-rows: 30px 50px;
    padding: 0;
    background-color: #f7f7f7;
    padding-bottom: 5px;
  }
  .appHeader,
  .appMain {
    width: 1500px;
  }
  .appHeader__logo {
    grid-row: 1 / 3;
    margin: 10px;
    padding-left: 10px;
  }
  .appHeader__list::before {
    background-color: darkblue;
  }
  .appHeader__list {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
    font-size: 1.2rem;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    font-weight: 400;
  }
  .appHeader__list a {
    padding: 5px 15px;
  }
  .appHeader__searchForm {
    grid-column: 2 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    vertical-align: middle;
  }
  .appHeader__searchForm fieldset {
    border: 0px;
  }
  .appHeader__searchForm input {
    border: 2px solid rgb(80, 63, 46);
    width: 400px;
    height: 30px;
    font-size: 1.4rem;
    border-radius: 5px;
    padding-left: 10px;
  }
  .appHeader__searchForm button {
    border: 2px solid rgb(80, 63, 46);
    width: 55px;
    height: 30px;
    margin-right: 10px;
    background-color: #a58567;
    color: #f7f7f7;
    border-radius: 5px;
    font-size: 1.4rem;
  }
  /* .container {
  }
  .appHeader {
    position: relative;
  }
  .appHeader__logo {
    position: absolute;
    top: 50%;
    left: 0;
    background-color: pink;
    margin-left: -40px;
  }
  .appHeader__list {
    background-color: red;
  }
  .appHeader__list li {
  }
  .appHeader__searchForm {
    text-align: right;
  }
  .appHeader__searchForm input {
    width: 40%;
  }
  .appHeader__searchForm button {
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: #988574;
    padding: 0 1rem;
    height: 30px;
    color: white;
  } */
  /* 네비게이션 */
  .appNavigation,
  .appFooter {
    width: 100%;
  }

  /* 데스크탑 네비게이션 */
  .appNavigation button {
    display: none;
  }
  .appNavigation {
    height: 165px;
    background-color: #988574;
    display: flex;
    justify-content: center;
  }
  .appNavigation__heading {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    background-color: blue;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
  }
  .appNavigation__menu {
    background-color: seagreen;
    display: flex;
    justify-content: space-evenly;
    width: 1500px;
  }
  .appNavigation__menu--item {
    list-style: none;
    background-color: tomato;
    margin-top: 10px;
    font-size: 1.8rem;
  }
  .appNavigation__menu--link {
    color: #f7f7f7;
    font-weight: 700;
    text-shadow: 1px 1px 0 #000;
    letter-spacing: 1px;
  }
  .appNavigation__menu--item--list {
    background-color: turquoise;
  }
  .appNavigation__menu--item--list li {
    padding: 5px;
    font-size: 1.6rem;
    margin-top: 5px;
  }
  .appNavigation__menu--item--list a {
    display: block;
    padding: 0.25em;
  }
  /* .appNavigation__menu {
    display: table;
    width: 1000px;
    margin: 1em auto 0.5em;
  }
  .appNavigation__menu--item {
    display: table-cell;
    color: #fff;
  }
  .appNavigation__menu--link {
    font-size: 1.8rem;
    font-weight: 700;
    padding: 0.5em 1em;
    display: inline-block;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
    letter-spacing: 2px;
  }
  .appNavigation__menu--item--list a {
    display: block;
    padding: 0.25em 0.5em;
    margin: 0.5em;
  } */
  /* 메인 메뉴 */
  h3 {
    font-size: 1.6rem;
    line-height: 1.15;
    font-weight: bold;
  }
  .appMain {
    width: 1500px;
    height: 980px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 5fr 6fr 4fr;
    grid-template-rows: 680px 280px;
  }
  .appMain ul {
    list-style: none;
  }
  .appMain__heading {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    background-color: blue;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
  }
  .appMain__book {
    background-color: violet;
    display: flex;
    flex-flow: row wrap;
  }
  .appMain__book--title {
    background: url(./images/sprite_main.png) no-repeat;
    height: 60px;
    padding-left: 65px;
    padding-top: 10px;
  }
  .appMain__book--title span {
    display: block;
    color: #abd372;
  }
  .appMain__book--image {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    height: auto;
  }
  .appMain__book--image img {
    width: 100%;
  }
  .appMain__book--image figcaption {
    font-size: 1.5rem;
  }
  .appMain__book--info {
    background-color: crimson;
    margin: 0 auto;
    display: flex;
    font-size: 1.4rem;
    width: 150px;
    height: 30px;
    justify-content: center;
  }
  .appMain__book--info dt {
    background-color: darkgreen;
  }
  .appMain__book--info dd {
    background-color: darkcyan;
    margin-left: 5px;
  }
  .appMain__book--summary {
    background-color: darkred;
  }
  .appMain__news {
    grid-column: 2 / 4;
    background-color: yellow;
    display: flex;
    flex-flow: row wrap;
    position: relative;
  }
  .appMain__news--title {
    width: 100%;
    background: url(./images/sprite_main.png) no-repeat 0 -230px;
    height: 60px;
    padding-left: 65px;
    padding-top: 10px;
  }
  .appMain__news--title span {
    display: block;
    color: #e8ca58;
  }
  .appMain__news--container {
    background-color: coral;
    display: flex;
    justify-content: center;
  }
  .appMain__news--container video {
    background-color: cadetblue;
    width: 90%;
  }
  .appMain__news span {
    background-color: burlywood;
  }
  .appMain__news time {
    background-color: brown;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .appMain__board {
    background-color: teal;
  }
  .appMain__board--title {
    background: url(./images/sprite_main.png) no-repeat 0 -115px;
    height: 60px;
    padding-left: 65px;
    padding-top: 10px;
  }
  .appMain__board--title span {
    display: block;
    color: #c7b39a;
  }
  .appMain__board--list {
  }
  .appMain__twitter {
    background-color: tomato;
  }
  .appMain__twitter--title {
    background: url(./images/sprite_main.png) no-repeat 0 -460px;
    height: 60px;
    padding-left: 65px;
    padding-top: 10px;
  }
  .appMain__twitter--title span {
    display: block;
    color: #6aaee6;
  }
  .appMain__favorite {
    background-color: aqua;
  }
  .appMain__favorite--title {
    background: url(./images/sprite_main.png) no-repeat 0 -345px;
    height: 60px;
    padding-left: 65px;
    padding-top: 10px;
  }
  .appMain__favorite--title span {
    display: block;
    color: #eea60a;
  }
  .book {
    width: 320px;
  }
  .news {
    width: 660px;
  }
  .board {
    width: 320px;
  }
  .twitter {
    width: 400px;
  }
  .favorite {
    width: 240px;
  }
  .appFooter {
    height: 10vh;
  }
}
